# Node.js
node_modules/
npm-debug.log
.env

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build files
dist/
build/
*.log 